
button{
    border-radius: 4px;
    
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: black;
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    font-weight: bold;
    width: 150px;
    height: 100px; 
    font-size: larger;

}
button a{
    color: white;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    background: #0F2027; 
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 


}
div{
    background-color: white;
    margin: 200px 500px 200px 500px;
    text-align: center;
    padding: 30px;
    box-shadow: 0px 4px 4px goldenrod;
}
img{
    height: 150px;
    width: 150px;
    border: 3px solid;
    border-radius: 50%;
}
hr {
    width: 400px;
}    
